/* 
  1，变量命名规范
  2，less编译器：将less语法定义的文件转变成css
      easyLESS插件
  3，父子嵌套
      直接定义在父选择器的 .father{ .child {} }中
  4，伪类元素选择器，并级选择器：
      &取消空格的父子关系，直接绑定当前父亲
  5，less运算：
    范围：变量，颜色 #666666 -#222222 == #444444
    规范：
      空格：运算符两侧添加空格区分辨别
      单位：单位实行 ||或逻辑，两者有其一即可，两者平衡实行短路原理，优先选择前面的单位
      算术运算符：+ - * / ()

*/
div {
  border: 1px * 3;
  background-color: pink;
}

p {
  background-color: pink;
}

.header {
  width: 200px;
  height: 200px;
}

.header .child {
  color: red;
}

a:hover {
  background-color: pink;
}

a.sister {
  content: '并集选择器';
}